Redirect /2009/07/dd-wrt-configuration-with-native-ipv6.html /blog/2009/07/13/ddwrt-configuration-with-native-ipv6.html
Redirect /2009/06/cisco-asa-ipv6-failover-update.html /blog/2009/06/02/cisco-asa-and-ipv6-failover-update.html
Redirect /2010/01/cisco-asa-ipv6-failover-in-822-so-far.html /blog/2010/01/29/cisco-asa-ipv6-failover-in-8-2-2.html
Redirect /2008/11/linux-ipv6-mtu-issues.html /blog/2008/11/30/linux-ipv6-mtu-issues.html
Redirect /2010/02/2010-rocky-mountain-ipv6-summit.html /blog/2010/02/01/2010-rocky-mountain-ipv6-summit-scheduled.html
Redirect /2009/05/ipv6-subnet-allocation-size-debate.html /blog/2009/05/09/ipv6-subnet-allocation-size.html
Redirect /2008/11/ipv6-nameserver-glue.html /blog/2008/11/30/ipv6-nameserver-glue.html
Redirect /2009/06/kudos-to-netflix.html /blog/2009/06/16/kudos-to-netflix.html
Redirect /2008/10/ubuntu-ipv6-only-torrents.html /blog/2008/10/30/ubuntu-ipv6-only-torrents.html
Redirect /2009/07/ripe-ipv6-interviews-ipv6-advocacy.html /blog/2009/07/15/ripe-ipv6-interviews-and-ipv6-advocacy.html
Redirect /2008/10/windows-vista-dhcpv6-issues.html /blog/2008/10/10/windows-vista-dhcpv6-issues.html
Redirect /2008/10/t-minus-774-days-untl-ipv4-exhaustion.html /blog/2008/10/07/t-minus-744-days-until-ipv4-exhaustion.html
Redirect /2008/10/pulling-v4-plug.html /blog/2008/10/30/pulling-the-ipv4-plug.html
Redirect /2009/05/protocol-that-cried-wolf.html /blog/2009/05/10/the-protocol-that-cried-wold.html
Redirect /2008/11/cisco-asa-ipv6-failover.html /blog/2008/11/03/cisco-asa-and-ipv6-failover.html
Redirect /2008/12/ipv6-living-in-ipv4-world.html /blog/2008/12/27/ipv6-living-in-a-ipv4-world.html
Redirect /2009/12/ipv6-progress-in-2009-or-lack-thereof.html /blog/2009/12/29/ipv6-progress-in-2009.html